
<div class="container">
<div class="jumbotron">
<h3>Login</h3>
</div>
<div id="login" style="width:600px;">
	<form ng-submit="login()" class="form-signin">
		<label for="inputUsername" class="sr-only"></label>
		<input class="form-control" type="text" name="username" placeholder="username" ng-model="credentials.username" required/>
		<label for="inputPassword" class="sr-only"></label>
		<input class="form-control" type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
		<button type="submit" class="btn btn-success">Log in</button>
	</form>
</div>

</div>